<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="tofu.logging.ELKLayout"/>
        </encoder>
    </appender>

    <logger name="com.example" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
